/* Job Grid Page - Mobile Spacing Fix */

@media (max-width: 991px) {
  .wt-bnr-inr {
    padding: 2px 0 !important;
    min-height: 80px !important;
    height: 10vh !important;
    position: relative !important;
  }
  
  .wt-bnr-inr-entry {
    padding: 5px 0 !important;
  }
  
  .banner-title-outer {
    margin: 0 0 2px 0 !important;
    padding: 0 !important;
  }
  
  .banner-title-name {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .banner-title-name .wt-title {
    margin: 0 0 2px 0 !important;
    padding: 0 !important;
    font-size: 18px !important;
  }
  
  .wt-breadcrumb {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .page-content {
    margin-top: 90px !important;
    padding-top: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  .job-grid-page {
    margin-top: 0 !important;
    padding-top: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .overlay-wraper .overlay-main,
  .overlay-main {
    position: absolute !important;
  }
}
