/* Reduce overlay height on mobile screens */
@media (max-width: 991px) {
    .overlay-wraper .overlay-main,
    .overlay-main {
        height: 3vh !important;
        min-height: 40px !important;
        max-height: 60px !important;
        position: absolute !important;
    }
    
    /* Reduce banner section height */
    .wt-bnr-inr {
        min-height: 40px !important;
        height: 3vh !important;
        position: relative !important;
    }
    
    /* Reduce banner entry padding */
    .wt-bnr-inr-entry {
        padding: 1px 0 !important;
    }
    
    /* Fix for all pages */
    .page-content {
        margin-top: 45px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    
    .banner-title-name .wt-title {
        font-size: 14px !important;
        margin: 0 !important;
    }
}
